SISTEM_NAME=Ravn-Challenge
APP_ENV=dev
HOST=localhost
PORT=8000
DB_LOGGER=true
DB_DIALECT=postgresql
REDIS_HOST=localhost
REDIS_PORT=6379
SECRET_KEY=clave_secreta
APP_DEBUG=true
JWT_EXPIRATION_TIME=60m
REFRESH_EXPIRATION_TYPE=h
REFRESH_EXPIRATION_TIME=2
REFRESH_TOKEN_INVALID_EXPIRATION_TYPE=s
REFRESH_TOKEN_INVALID_EXPIRATION_TIME=4

MAIL CONFIGURATION
MAIL_SERVICE=gmail
MAIL_HOST=smtp.smtp.gmail.com
MAIL_PORT=465
TIME_BASED_TOKEN_2FA=12
MAIL_USER=correo@gmail.com
MAIL_PASS=password
MAIL_MESSAGE_HOST=http://localhost:8000
MAX_PIC_PRODUCTS=5
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ravn?schema=public"